.barchart {
    font-size: 16px;
    line-height: 20px;
    table-layout: fixed;
    text-align: center;
    width: 90%;
    height: 426px;
    margin: 0 auto;
    border: none;
    border-collapse: collapse;
}

.barchart tr:nth-child(1) td {
    vertical-align: bottom;
    height: 400px;
}

.barchart tr:last-child td {
    border-top: 2px solid black;
}

.barchart .bar {
    background: #0DA58E;
}

.barchart .label {
    margin-top: -30px;
    padding: 0 3px;
    color: black;
}